* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.m-5 {
    margin: 5rem;
}

.mt-2 {
    margin: 1rem;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}